/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/.idea
/.gitattributes
/node_modules

/.github/
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
.DS_Store
*._.DS_Store
